@use 'variables';
@use 'responsive' as r;

header {
    width: 100%;
    background-image: url(images/decoration-arrows.svg);
    background-repeat: no-repeat;
    background-color: black;
    object-fit: cover;
    background-position: right top;
    background-size: 150%;
    // position: absolute;

    .site-wrapper {
        .top-line {
            // box-sizing: border-box;
            display: grid;
            grid-template-columns: 1fr 5fr;
            padding: 25px;
            text-align: right;
            align-items: center;
            justify-content: space-between;
            align-content: center;
    
                
           
          
    
            .list-in-row {
                text-align: center;
               
                a {
                     text-decoration: none;
                     color: variables.$color-white;
                     font-weight: bold;
                     font-size: medium;
                     row-gap: 30px;
                     padding: 10px;
                     text-align: center; 
                 }
                 @include r.xl {
                    display: flex;
                    flex-wrap: wrap;
                }
                 @include r.lg {
                    display: flex;
                    flex-wrap: wrap;
                }
    
                .list-style {
                    background-color: variables.$color-primary;
                    color: variables.$color-white;
                    border-radius: 20px;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-weight: normal;
                }
            }
        }
    }
}